@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: black;
  background-color: white(41, 21, 18);
  height: 700%;
}

header img {
  margin-left: 40px;
  margin-top: 20px;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  position: relative;
  z-index: 1;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: salmon;
}
nav ul > a:hover {
  animation-name: text_fadein;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

nav ul > li:hover span {
  cursor: default;
}

main h1 {
  background-color: dodgerblue;
  width: 400px;
  font-size: 27px;
  border-radius: 30px;
  text-align: center;
  margin-top: 20px;
  margin-left:50%px;
  position:relative;

}
main h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: dodgerblue;
  text-align: center;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer a {
  color: sandybrown;
}
footer {
  color: white;
  background-color: #3a3a3a;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 0px;
  margin-top: 20px;
  position: absolute;
  width: 100%;
  height: 60px; 
}


.tablesDiv{
 text-align: center;
}

table {
  margin-bottom: 10px;
  text-align: center;
 margin-left: 50px;
}

