@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Arial, sans-serif;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color:black;
    background-color: rgb(41, 21, 18);
  }

  header img{
      margin-left: 40px;
      margin-top: 20px;
  }
  main{margin-left:70px;}
main h1{
      background-color: dodgerblue;
      width: 400px;
      font-size: 27px;
      border-radius: 30px;
      text-align: center;
      margin-top: 20px;
      color:white;
  }
main h2{
      font-family: Arial, Helvetica, sans-serif ;
      font-size: 23px;
      margin-left: 20px;
      margin-bottom: 5px;
      margin-top: 5px;
      color :dodgerblue
  }

article ul li {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: rgb(251, 242, 224);
    margin-left: 50px;
  }

  hr{
      margin-top: 20px;
      margin-bottom: 20px;
  }

 .TotalsClass{color:rgb(255, 166, 1);}
      
  nav {
    
    margin: 0 auto;
  }
  nav ul {
    list-style: none;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    color: #91640F;
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color: rgb(0, 0, 0);
  }
  nav ul>a:hover{
    animation-name: text_fadein;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  nav ul>li:hover span{
    cursor: default;
  }
  
  nav ul>a:hover>li{
    animation-name: menu_fadein;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
