
  html,
  body {
  
      margin: 0;
      font-family: 'Open Sans', sans-serif;

  }
  body {
   
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 1000px;
}
  header {
    background-color: rgb(61, 59, 59);
    gap: 30px;
    height: 100px;
  }
  nav {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
  }
#logo{
  margin: 10px 0 5px 50px;
    float: left;
    display: inline-flex;
    color: ivory;
    padding-inline-start: 200px;
}
#logo h1{
    padding: 20px;
}

  main {
    overflow-x: scroll;
    height: auto;
    overflow: auto; 
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  } 
  main h1 {
      padding: 10px;
      font-size: 23px;
  }
  .seven-pictures img {
    box-shadow: rgb(61, 59, 59) 1px 10px 10px 5px;
    border-radius: 50px;
    gap: 30px;
  }
  .seven-pictures{
    display: flex;
    gap: 12px;
    margin-top: 20px;
  }
  .seven-pictures1{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .seven-pictures1 img{
    box-shadow: rgb(61, 59, 59) 1px 10px 10px 5px;
    border-radius: 20px;
    gap: 30px;
  }
  #tossersRequired{
    margin-bottom:20px;
  }
  #copyRights
  {
     display: inline-flex;
     flex-direction: column;
     align-content: left;
  }
a{
    background-color:rgb(61, 59, 59);
    color: white;
    width:160px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
  }
 a:hover {opacity: 2}
table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
  }
  table thead th,
  table tfoot th {
    color: #777;
    background: rgba(0, 0, 0, 0.1);
  }
  table caption {
    padding: 0.5em;
  }
  table th,
  table td {
    padding: 0.5em;
    border: 1px solid lightgrey;
    text-align: center;
  }
  footer {
    background-color: rgb(61, 59, 59);
    color: #bbb;
    line-height: 1.5;
    
  }
  footer a {
    text-decoration: none;
    color: #eee;
    padding: 2px;
  }
  a:hover {
    text-decoration: underline;
  }
  .footer-Title {
    color: #fff;
    
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }

  .footer-Main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 477px ) {
    .footer-Main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 1240px ) {
    .footer-Main {
      justify-content: space-evenly;
    }
  }
  .footer-Main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  .footer-social {
    padding: 0 1.875rem 1.25rem;
  }
  .footer-Social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
  }
  .footer-Social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
  }

  .footer-CopyRights {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
  }
  .footer-CopyRights-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-CopyRights-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }

  .footer-CopyRights-list li:nth-last-child(2) {
      flex: 1;
  }



  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 500px;
    right: 28px;
    width: 200px;
  }
  
  .form-popup {
    display: none;
    position: fixed;
    bottom: 200px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    
  }
  .form-container input[type=text],input[type=number], .form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .form-container .btn {
    background-color:  #333;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: red;
  }
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }